/* ==========================================================================
 * Definitions.
 * ========================================================================== */

:root {
    --black: #000000;
    --white: #ffffff;
    --grey-dark: #303030;
    --grey-light: #fcfcfc;
    --brown: #903a20;
    --red: #ff7070;
    --orange: #ee9000;
    --yellow: #f0c050;
    --yellow-dim: #ffffe0;
    --green: #50ef50;
    --blue: #50d0ff;
    --purple: #e080e0;
}


/* ==========================================================================
 * Font imports.
 * ========================================================================== */

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/source-sans-pro/SourceSansPro-Regular.otf)
         format('opentype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: italic;
    src: url(../fonts/source-sans-pro/SourceSansPro-It.otf)
         format('opentype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-style: normal;
    src: url(../fonts/source-sans-pro/SourceSansPro-Semibold.otf)
         format('opentype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-style: normal;
    src: url(../fonts/source-sans-pro/SourceSansPro-Bold.otf)
         format('opentype');
}


/* ==========================================================================
 * Base styles.
 * ========================================================================== */

:root {
    font-size: 1px;
}


body {
    color: var(--grey-dark);
    background-color: var(--grey-light);
    font-family: 'Source Sans Pro';
    font-size: 16rem;
    font-weight: 400;
}


/* ==========================================================================
 * Layout.
 * ========================================================================== */

.Layout-Page {
    --spacing-y: 30px;

    display: flex;
    flex-flow: column nowrap;
    box-sizing: border-box;
    padding: 30px 40px;
    min-height: 100vh;
}


.Layout-Title {
    margin-bottom: 30px;
    font-size: 30rem;
    font-weight: 600;
    text-align: center;
}


.Layout-Controls {
    margin-bottom: var(--spacing-y);
}


.Layout-TouchArea {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-bottom: var(--spacing-y);
    border: 1px solid;
    width: 100%;
    height: 200px;
    background-color: var(--yellow-dim);
    font-size: 22rem;
}


.Layout-Events {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}


/* ==========================================================================
 * Controls.
 * ========================================================================== */

.Controls {
    display: flex;
    flex-flow: column nowrap;
}


.Controls-Group {
    display: inline-flex;
    flex-flow: column nowrap;
}


.Controls-Group + .Controls-Group {
    margin-top: 25px;
}


.Controls-GroupTitle {
    margin-bottom: 5px;
    font-weight: 600;
}


.Controls-Inputs {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}


.Controls-Input {
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    box-sizing: border-box;
    height: 28px;
}


.Controls-Input + .Controls-Input {
    margin-left: 14px;
}


.Controls-Input--Number {
    margin-right: 4px;
    border: 1px solid;
    padding: 7px 5px;
    width: 100%;
    max-width: 100px;
    background-color: var(--white);
}


.Controls-Input--Checkbox {}


@media (min-width: 440px) {
    .Controls {
        flex-direction: row;
    }

    .Controls-Group + .Controls-Group {
        margin-top: 0;
        margin-left: 40px;
    }
}


/* ==========================================================================
 * Dual panel.
 * ========================================================================== */

.DualPanel {
    display: flex;
    flex-flow: column nowrap;
}


.DualPanel-Section {
    flex-grow: 1;
    flex-shrink: 0;
    /* `0%` used as that fixes the collapsing behaviour for Chrome */
    flex-basis: 0%;
    display: flex;
    flex-flow: column nowrap;
}


.DualPanel-Section.DualPanel--IsHidden {
    display: none;
}


.DualPanel-Section:not(.DualPanel--IsHidden) + .DualPanel-Section {
    margin-top: 30px;
}


.DualPanel-Heading {
    align-self: center;
    margin-bottom: 20px;
    font-size: 20rem;
    font-weight: 700;
}


.DualPanel-Content {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    height: 300px;
    overflow: auto;
}


@media (min-width: 600px) {
    .DualPanel {
        flex-direction: row;
    }

    .DualPanel-Section:not(.DualPanel--IsHidden) + .DualPanel-Section {
        margin-top: 0;
        margin-left: 30px;
    }
}

/* ==========================================================================
 * List.
 * ========================================================================== */

.List {
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid;
    padding: 10px;
}


.List-Item {
}


.List-Item + .List-Item {
    margin-top: 12px;
}


/* ==========================================================================
 * Event.
 * ========================================================================== */

.Event {
    --spacing-y: 5px;
}


.Event-MainDescription {
    margin-bottom: 5px;
}


.Event-Time {
    font-weight: 700;
}


.Event-Type {
    margin-left: var(--spacing-y);
    padding: 0 6px;
    color: var(--black);
    font-weight: 600;
}


.Event-Type--pointerdown {
    background-color: var(--green);
}


.Event-Type--pointerup {
    background-color: var(--red);
}


.Event-Type--pointermove {
    background-color: var(--blue);
}


.Event-Type--tap {
    background-color: var(--blue);
}


.Event-Type--doubletap {
    background-color: var(--purple);
}


.Event-Type--pan {
    background-color: var(--orange);
}


.Event-Type--swipe {
    background-color: var(--yellow);
}


.Event-Type--press {
    background-color: var(--green);
}


.Event-Type--pinch {
    background-color: var(--brown);
}


.Event-Type--rotate {
    background-color: var(--red);
}


.Event-PropertiesList {
    padding-left: 25px;
    font-size: 14rem;
    list-style: disc;
}


.Event-Property {}
